# 手算ID3决策树

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')
data

           age  income student credit_rating label
0        youth    high      no          fair    no
1        youth    high      no     excellent    no
2   middle_age    high      no          fair   yes
3       senior  medium      no          fair   yes
4       senior     low     yes          fair   yes
5       senior     low     yes     excellent    no
6   middle_age     low     yes     excellent   yes
7        youth  medium      no          fair    no
8        youth     low     yes          fair   yes
9       senior  medium     yes          fair   yes
10       youth  medium     yes     excellent   yes
11  middle_age  medium      no     excellent   yes
12  middle_age    high     yes          fair   yes
13      senior  medium      no     excellent    no

## y的信息量

### 定义信息量函数

In [122]:
def information(p):
    I = - p * np.log2(p)
    
    return  np.nan_to_num(I)

In [123]:
a = information(np.array([1,0,0.5]))

C:\Users\J\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: divide by zero encountered in log2
  from ipykernel import kernelapp as app
C:\Users\J\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: invalid value encountered in multiply
  from ipykernel import kernelapp as app

### y的类别数

In [11]:
y = data['label']
y_label_num = len(np.unique(y))
y_label_num

2

### 计算各类别占比

In [17]:
y_1 = y[y == np.unique(data['label'])[0]]
y_2 = y[y == np.unique(data['label'])[1]]

p_y1 = len(y_1) / len(y)
p_y2 = len(y_2) / len(y)

print('p_y1:' , p_y1)
print('p_y2:' , p_y2)

p_y1: 0.35714285714285715
p_y2: 0.6428571428571429

### 计算y的信息量

In [18]:
I_y = information(p_y1) + information(p_y2)
I_y

0.94028595867063114

## 计算信息增益

In [45]:
data_2 = data[['age','label']].sort_values(by='age')

           age label
2   middle_age   yes
6   middle_age   yes
11  middle_age   yes
12  middle_age   yes
3       senior   yes
4       senior   yes
5       senior    no
9       senior   yes
13      senior    no
0        youth    no
1        youth    no
7        youth    no
8        youth   yes
10       youth   yes

### 计算每个类别的占比

In [70]:
data_2_retio = pd.DataFrame(np.unique(data['age']))
from statsmodels.tools import categorical
data_2_retio['num'] = np.sum(categorical(data['age'].values, drop=True), axis=0)
data_2_retio['retiao'] = np.sum(categorical(data['age'].values, drop=True), axis=0) / len(data)

for y_value in np.unique(y):
    data_2_retio[y_value] = [len(data.loc[data.age==x_value].loc[data.label==y_value])/len(data.loc[data.age==x_value]) for x_value in np.unique(data['age']) ] 
    
print(data_2_retio)

            0  num    retiao   no  yes
0  middle_age  4.0  0.285714  0.0  1.0
1      senior  5.0  0.357143  0.4  0.6
2       youth  5.0  0.357143  0.6  0.4

In [148]:
from statsmodels.tools import categorical
data_2 = {}
for column in data.columns[:-1]:
    data_2_df = pd.DataFrame(np.unique(data[column]))
    
    data_2_df['num'] = np.sum(categorical(data[column].values, drop=True), axis=0)
    data_2_df['retiao'] = np.sum(categorical(data[column].values, drop=True), axis=0) / len(data)

    for y_value in np.unique(y):
        data_2_df[y_value] = [len(data.loc[data[column]==x_value].loc[data.label==y_value])/len(data.loc[data[column]==x_value]) for x_value in np.unique(data[column]) ] 
    
        data_2_df['I'+'_'+y_value] = information(data_2_df[y_value].values)
    
    data_2_df['I'] = data_2_df['I_yes'] + data_2_df['I_no'] 
       
    print(column + ':')
    print(data_2_df)
    print('\n\n')
    data_2[column] = data_2_df

age:
            0  num    retiao   no      I_no  yes     I_yes         I
0  middle_age  4.0  0.285714  0.0  0.000000  1.0 -0.000000  0.000000
1      senior  5.0  0.357143  0.4  0.528771  0.6  0.442179  0.970951
2       youth  5.0  0.357143  0.6  0.442179  0.4  0.528771  0.970951



income:
        0  num    retiao        no      I_no       yes     I_yes         I
0    high  4.0  0.285714  0.500000  0.500000  0.500000  0.500000  1.000000
1     low  4.0  0.285714  0.250000  0.500000  0.750000  0.311278  0.811278
2  medium  6.0  0.428571  0.333333  0.528321  0.666667  0.389975  0.918296



student:
     0  num  retiao        no      I_no       yes     I_yes         I
0   no  7.0     0.5  0.571429  0.461346  0.428571  0.523882  0.985228
1  yes  7.0     0.5  0.142857  0.401051  0.857143  0.190622  0.591673



credit_rating:
           0  num    retiao    no  I_no   yes     I_yes         I
0  excellent  6.0  0.428571  0.50   0.5  0.50  0.500000  1.000000
1       fair  8.0  0.571429  0.25   0.5  0.75  0.311278  0.811278

C:\Users\J\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: divide by zero encountered in log2
  from ipykernel import kernelapp as app
C:\Users\J\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: invalid value encountered in multiply
  from ipykernel import kernelapp as app

### 计算信息增益

In [147]:
for column in data.columns[:-1]:
    entropy = np.sum(data_2[column]['I'] * data_2[column]['retiao'])
    gain = I_y -entropy
    print(column , '的信息增益值为', gain, '\n')

age 的信息增益值为 0.246749819774

income 的信息增益值为 0.029222565659

student 的信息增益值为 0.151835501362

credit_rating 的信息增益值为 0.0481270304083

In [152]:
data_2_gain = pd.DataFrame([I_y - np.sum(data_2[column]['I'] * data_2[column]['retiao']) for column in data.columns[:-1]], index=data.columns[:-1], columns=['Gain'])
data_2_gain

                   Gain
age            0.246750
income         0.029223
student        0.151836
credit_rating  0.048127

可以看出age的信息增益最大，所以按age划分

In [170]:
data_3 = dict(list(data.groupby(by='age')))
for key, value in data_3.items():
    print(key)
    print(value)
    print()

middle_age
           age  income student credit_rating label
2   middle_age    high      no          fair   yes
6   middle_age     low     yes     excellent   yes
11  middle_age  medium      no     excellent   yes
12  middle_age    high     yes          fair   yes

senior
       age  income student credit_rating label
3   senior  medium      no          fair   yes
4   senior     low     yes          fair   yes
5   senior     low     yes     excellent    no
9   senior  medium     yes          fair   yes
13  senior  medium      no     excellent    no

youth
      age  income student credit_rating label
0   youth    high      no          fair    no
1   youth    high      no     excellent    no
7   youth  medium      no          fair    no
8   youth     low     yes          fair   yes
10  youth  medium     yes     excellent   yes

{'middle_age':            age  income student credit_rating label
 2   middle_age    high      no          fair   yes
 6   middle_age     low     yes     excellent   yes
 11  middle_age  medium      no     excellent   yes
 12  middle_age    high     yes          fair   yes,
 'senior':        age  income student credit_rating label
 3   senior  medium      no          fair   yes
 4   senior     low     yes          fair   yes
 5   senior     low     yes     excellent    no
 9   senior  medium     yes          fair   yes
 13  senior  medium      no     excellent    no,
 'youth':       age  income student credit_rating label
 0   youth    high      no          fair    no
 1   youth    high      no     excellent    no
 7   youth  medium      no          fair    no
 8   youth     low     yes          fair   yes
 10  youth  medium     yes     excellent   yes}