In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## 导入数据

In [2]:
data = pd.read_csv('data_str.csv')
data.head()

,Status,Duration,history,Purpose,amount,Savings,employment,rate,Personal,debtors,...,Property,Age,Other,Housing,bank,Job,maintenance,Telephone,foreign,label
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

## 数据转换为数值

In [3]:
data2 = data.copy()
for column in data.columns:
    data2[column] = pd.factorize(data[column])[0]
data2.head()

,Status,Duration,history,Purpose,amount,Savings,employment,rate,Personal,debtors,...,Property,Age,Other,Housing,bank,Job,maintenance,Telephone,foreign,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,1,1,1,1,1,0,...,0,1,0,0,1,0,0,1,0,1
2,2,2,0,1,2,1,2,1,0,0,...,0,2,0,0,1,1,1,1,0,0
3,0,3,1,2,3,1,2,1,0,1,...,1,3,0,1,1,0,1,1,0,0
4,0,4,2,3,4,1,1,2,0,0,...,2,4,0,1,0,0,1,1,0,1

## 数据规范化并划分

In [4]:
from sklearn.preprocessing import scale

from sklearn.model_selection import train_test_split

X = data2.drop('label', axis=1).astype(np.float64).values
y = data2['label'].values

X_scale = scale(X)

X_train , X_test, y_train,  y_test = train_test_split(X_scale, y, test_size=0.2)

## 使用线性判别分类

In [5]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

## 使用决策树分类

In [6]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## 结果评价

In [7]:
y_pre_lad = lda.predict(X_test)
y_pre_dtc = dtc.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score
print('线性判别分析的预测准确度：', accuracy_score(y_test, y_pre_lad))
print('决策树分析的预测准确度：', accuracy_score(y_test, y_pre_dtc))

线性判别分析的预测准确度： 0.7
决策树分析的预测准确度： 0.655